@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #5c5c5c;
}

/* custom highlight */
::selection {
  background-color: #ef4444;
  color: #000000;
}